
<p style="color: green"><%= notice %></p>

<%= link_to "new tutorial/blog", new_tutorial_path, class: "btn btn-primary" %>

<% tutorial_filter = nil %>
<% if current_page?(dashboard_tutorials_path) %>
  <% tutorial_filter = true %>

  <div id="public-tutorials">
  <h4>tutorials</h4>
  <br>
<% elsif current_page?(dashboard_blogs_path) %>
  <% tutorial_filter = false %>

  <div id="public-tutorials">
  <h4>blogs only</h4>
  <br>
<% elsif %>
<div id="public-tutorials">
<h4>tutorials and blogs</h4>
<br>
<% end %>


<div class="container text-center" >
  <div class="row" >

<% @topics.each do |topic| %>
  <% if topic.tutorials.where(status: "public").where.not(is_blog: tutorial_filter).each.count > 0 %>

  <div id="<%= dom_id topic %>" class="col ">
    <h5><%= topic.title %> </h5>
  <% topic.tutorials.where(status: "public").where.not(is_blog: tutorial_filter).each do |tutorial| %>
    <%= render "tutorial_small", tutorial: tutorial, topic: topic %>

  <% end %>
  </div>

  <% end %>
<% end %>

</div>
</div>

<div id="tutorials">
  <% if Tutorial.all.where(topic: nil, status: "public").where.not(is_blog: tutorial_filter).count > 0 %>
  <hr>

  <small> no topic: </small>
  <% else %>
  <br>
  <p>
    <small> no tutorials match <strong> uncategorized </strong> and <strong> public </strong>  </small>
  </p>
  <% end %>
  <% @tutorials.where(topic: nil, status: "public").where.not(is_blog: tutorial_filter).each do |tutorial| %>
    <%= render "tutorial_small", tutorial: tutorial , topic: nil%>

  <% end %>
</div>

</div>

<div id="tutorial-archive">
<h4>archive</h4>
<br>

<div class="container text-center" >
  <div class="row" >

<% @topics.each do |topic| %>
  <div id="<%= dom_id topic %>" class="col ">
    <% if topic.tutorials.where.not(status: "public").where.not(is_blog: tutorial_filter).each.count > 0 %>
    <h5><%= topic.title %> </h5>
  <% topic.tutorials.where.not(status: "public").where.not(is_blog: tutorial_filter).each do |tutorial| %>
    <%= render "tutorial_tiny", tutorial: tutorial %>
    <% end %>
  <% end %>
  </div>
<% end %>
</div>
</div>

  <% if Tutorial.all.where(topic: nil).where.not(status: "public").where.not(is_blog: tutorial_filter).count > 0 %>
  <small> uncategorized </small>
  <hr>
  <div id="uncategorized-tutorials">
    <% @tutorials.where(topic: nil).where.not(status:"public").where.not(is_blog: tutorial_filter).each do |tutorial| %>
      <%= render "tutorial_tiny", tutorial: tutorial %>

    <% end %>
  </div>
  <% end %>

</div>
