<div  id="<%= dom_id tutorial %>" class="container card">
<div class="row tutorial-small">

  <div class="col">
  <div class="row tutorial-title">

  <strong class="col">
    <%= tutorial.title %>
  </strong>

  <p class="tutorial-description">
    <%= tutorial.description.truncate(120) %>
  </p>

  <small class="col">
    created: <%= tutorial.created_at.to_date.to_formatted_s :long_ordinal %>
  </small>

  <% if tutorial.status != "public" %>
      <p style="color: orange"><%= tutorial.status %></p>
  <% end %>

  </div>

  <div id="tutorial-actions">
    <div class="row">
        <div class="col">
        <%= link_to "show", tutorial, class:"btn btn-secondary"%>
        </div>

        <div class="col">
        <%= link_to "edit", edit_tutorial_path(tutorial), class:'col btn btn-secondary' %>
        </div>

        <div class="col">
          <%= form_with(model: tutorial) do |form| %>
          
          <%= form.hidden_field :status, value: "archived" %>
          <%= form.submit "archive", class: "btn btn-warning" %>
          <% end %>
        </div>

        <div class="col">
          <%= form_with(model: tutorial) do |form| %>
          <% if tutorial.topic %>
          <%= form.hidden_field :topic_id, value: tutorial.topic.id %>
          <% end %>
          <%= form.hidden_field :status, value: "hidden" %>
          <%= form.submit "hide", class: "btn btn-secondary" %>
          <% end %>
        </div>


      </div>

      <div class="col">
      <%= button_to "delete", tutorial, class:"btn btn-danger", method: :delete, data: { :turbo_confirm => "are you sure?" } %>
      </div>
      </div>
  </div>

  <div id="topic-sort-actions" class="col container-sm" style="max-width:30%;">
    <small> select topic </small>

    <% @topics.each do |topic| %>
    <div class="col">
      <% if topic != tutorial.topic %>
      <%= form_with(model: tutorial) do |form| %>
      <%= form.hidden_field :topic_id, value: topic.id %>
      <%= form.submit topic.title, class: "btn btn-dark" %>
      <% end %>
      <% end %>
    </div>
    <% end %>

    <% if tutorial.topic != nil %>

            <div class="col">
              <small> remove </small>
    <%= form_with(model: tutorial) do |form| %>

      <div class="form-group">
      <%= form.hidden_field :topic_id, value: nil %>
      <%= form.submit tutorial.topic.title, class: "btn btn-warning" %>
      </div>
    <% end %>

    </div>
    <% end %>
  </div>
</div>
</div>
