<%= controller_name %>
<%= action_name %>

<div id="dashboard-buttons">

  <%= link_to "dashboard", dashboard_root_path, class:"btn btn-secondary" %>
  <%= link_to "tutorials", dashboard_tutorials_path, class:"btn btn-secondary" %>
  <%= link_to "blogs", dashboard_blogs_path, class:"btn btn-secondary" %>

</div>
<%= render "blogs_tutorials" %>
