

<div id="dashboard-buttons">

  <%= link_to "new topic", new_topic_path, class:"btn btn-primary"  %>

  <%= link_to "blog", dashboard_blogs_path, class:"btn btn-dark" %>
  <%= link_to "tutorials", dashboard_tutorials_path, class:"btn btn-dark" %>
  <%= link_to "about sections", abouts_path, class:"btn btn-dark" %>

</div>

<p style="color: green"><%= notice %></p>

<div id="topics">
  <% @topics.order(:position => :asc).each do |topic| %>

    <div>

    <div id="edit-topic-btn">
        <small> id: <%= topic.id %> </small>
    <%= link_to "edit this topic", edit_topic_path(topic), class:"btn btn-secondary" %>
    </div>

    <%= render topic %>
    </div>

  <% end %>
</div>
