<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :address, style: "display: block", :required => true %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :orig_date, style: "display: block" %>
    <%= form.datetime_field :orig_date %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, ['public','private','archived', 'hidden'], selected: 'public'%>
  </div>

  <div>
    <%= form.label :featured, style: "display: block" %>
    <%= form.check_box :featured %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
