<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= topic.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic.description %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= topic.position %>
  </p>

  <p>
    <strong>Nav pos:</strong>
    <%= topic.nav_pos %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= topic.icon %>
  </p>

</div>
