<div id="<%= dom_id topic %>" class="topic">

  <div class="row topic-title">


      <% if topic.icon != "none selected" && topic.icon != ""%>
      <%= image_tag "#{topic.icon}", class:"col", style: "max-width: 10%;" %>
      <% end %>

      <h3 class="col" style="max-width:30%"> <%= topic.title %> </h3>
  </div>

  <p>
  <%= topic.description %>
  </p>

  <% if topic.header_image.present? %>

    <%= link_to topic do %>
      <%= image_tag topic.header_image, class:"card topic-card mb-3" %>
    <% end %>

  <% else %>
    <%= link_to topic do %>

    <%= image_tag "TOPIC_PLACEHOLDER.png", class:"card topic-card mb-3" %>
    <% end %>
    <%= link_to "view" ,topic, class:"btn btn-primary" %>
  <% end %>

</div>
