<h1>Editing topic</h1>

<%= render "form", topic: @topic %>

<br>

<p> debug id <strong><%= @topic.id %> </strong> </p>

<div>
  <%= link_to "Show this topic", @topic %> |
  <%= link_to "Back to topics", topics_path %>
  <%= button_to "Destroy this topic", @topic, method: :delete %>

</div>
