
<div id="topic-header">
  <%= render "topic_header", topic: @topic %>
</div>


<div class="container-md">

    <%= render "blogs" %>

    <%= render "tutorials" %>

</div>

<%= render "about", topic: @topic %>

<%= render "ext_link_row", links: @topic.external_links %>
