

<h1><% if @tutorial.is_blog %> blog <% end %>
<% if !(@tutorial.is_blog) %> tutorial <% end %></h1>

<p style="color: green"><%= notice %></p>

<%= render "form", tutorial: @tutorial %>

<br>
<div>
  <%= link_to "Show this tutorial", @tutorial %> |
  <%= link_to "all tutorials/blogs",  dashboard_all_path, class: "btn btn-secondary" %>

</div>

<div id="materials">
<%= render "materials", tutorial: @tutorial %>
</div>
