
<% showing_blogs = current_page?(blogs_path) %>
<p style="color: green"><%= notice %></p>

<% if showing_blogs %>
<div id="public-blogs">
<h4>blog</h4>
<% else %>
<div id="public-tutorials">
<h4>tutorials</h4>
<% end %>

<br>
<div class="container text-center" >
  <div class="row" >

<% @topics.each do |topic| %>


<% if topic.tutorials.where(status: "public", is_blog: showing_blogs).each.count > 0 %>

  <div id="<%= dom_id topic %>" class="col ">
    <h5><%= topic.title %> </h5>
  <% topic.tutorials.where(status: "public").each do |tutorial| %>
    <%= render "tutorial_small", tutorial: tutorial %>
  <% end %>
  </div>

  <% end %>
<% end %>

</div>
</div>

<div id="tutorials">
  <% if Tutorial.all.where(topic: nil, status: "public", is_blog: showing_blogs).count > 0 %>
    <h5> no topic: </h5>
    <hr>
  <% else %>
  <br>
  <p>
    <small> no tutorials match <strong> uncategorized </strong> and <strong> public </strong>  </small>
  </p>
  <% end %>
  <% @tutorials.where(topic: nil, status: "public", is_blog: showing_blogs).each do |tutorial| %>
    <%= render "tutorial_small", tutorial: tutorial %>

  <% end %>
</div>

</div>

<div id="tutorial-archive">
<h4>archive</h4>
<br>

<div class="container text-center" >
  <div class="row" >

<% @topics.each do |topic| %>
    <% if topic.tutorials.where.not(status: "public", status:"private", is_blog: showing_blogs).each.count > 0 %>
    <h6> <%= topic.title %> </h6>
    <div id="<%= dom_id topic %>" class="col ">

  <% topic.tutorials.where.not(status: "public", is_blog: showing_blogs).each do |tutorial| %>
    <%= render "tutorial_tiny", tutorial: tutorial %>
  <% end %>

    </div>
  <% end %>

<% end %>
</div>
</div>

<% if Tutorial.all.where(topic: nil).where.not(status: "public", is_blog: showing_blogs).count > 0 %>
<div id="uncategorized-tutorials">

  <small> uncategorized tutorials: </small>
  <hr>
  <% @tutorials.where(topic: nil).where.not(status:"public", is_blog: showing_blogs).each do |tutorial| %>
    <%= render "tutorial_tiny", tutorial: tutorial %>

    <% end %>
<% else %>
<br>
<p>
  <small> no other uncategorized tutorials </small>
</p>
<% end %>

</div>
</div>
