<div id="<%= dom_id tutorial %>" class="card tutorial-small">

  <div class="row tutorial-title">

  <strong class="col">
    <%= tutorial.title %>
  </strong>
  </div>

  <p class="tutorial-description">
    <%= tutorial.description.truncate(120) %>
  </p>

  <small class="col">
    created: <%= tutorial.created_at.to_date.to_formatted_s :long_ordinal %>


  </small>
  <% if tutorial.status != "public" %>
      <p style="color: orange"><%= tutorial.status %></p>
  <% end %>

  <div class="read-btn col">
  <% if tutorial.is_blog %>
    <%= link_to "read", blog_path( tutorial ), class:'btn btn-secondary'%>
  <% else %>
    <%= link_to "read", tutorial, class:'btn btn-secondary' %>
  <% end %>
  </div>


</div>
